body {
  font-size: 12pt;
  font-family: Verdana, Geneva, sans-serif;
  color: black;
  background-color: #8d8f8f;
  text-align: left;
  background-image: url(../bilder/gradient.png);
  background-repeat: repeat-y;
}

table {
  border: 0px;
}

p.liten {
  font-size: 0.8em;
}

input.inloggning {
  width: 200px;
}

img.bild {
  border: 0px;
  vertical-align: middle;
}


#innehall {
  width: 400px;
  border: 4px solid #525252;
  background: #f8f8f8;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 0em;
  padding: 1em;
}

#logo {
  width: 230px;
  height: 29px;
}

img.logo {
  border: 0px;
  width: 230px;
  height: 29px;
}

h2.tabellrubrik {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  font-variant: small-caps;
  letter-spacing: 0.1ex;
  text-align: center;
  border-bottom: 1px dotted black;
  padding-top: 10px;
  display: block;
  clear: both;
  color: #3C3C3C;
}

a:link {
  text-decoration: none;
  color: #3C3C3C;
  font-weight: bold;
}
a:visited {
  text-decoration: none;
  color: #3C3C3C;
  font-weight: bold;
}
a:active {
  text-decoration: none;
  color: red;
  font-weight: bold;
}
a:hover {
  text-decoration: none;
  color: #636363;
  border-bottom: 1px solid red;
  font-weight: bold;
}
